{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "parserOptions": {
      "sourceType": "module"
    },
    "extends": [
        "eslint:recommended",
        "plugin:ember-suave/recommended"
    ],
    "parser": "babel-eslint",
    "rules": {
        "strict": [0, "never"],
        "dot-notation": 2,
        "eqeqeq": 2,
        "no-bitwise": 2,
        "curly": [2, "multi-line"],
        "guard-for-in": 2,
        "wrap-iife": [2, "outside"],
        "no-use-before-define": [2, { "functions": true, "classes": true }],
        "new-cap": 2,
        "no-caller": 2,
        "no-empty": 2,
        "no-new": 1,
        "no-plusplus": 2,
        "no-undef": 2,
        "no-unused-vars": [2, { "vars": "all", "args": "after-used" }],
        "prefer-const": "error",
        "indent": ["error", 4],
        "space-before-function-paren": ["error", {"anonymous": "ignore", "named": "never"}],
        "object-curly-spacing": ["error", "never"],
        "array-bracket-spacing": ["error", "never"],
        "key-spacing": ["error", {"mode": "minimum"}],
        "keyword-spacing": ["error", {"overrides": {
            "catch": {"after": true}
        }}],
        "no-console": "off",
        "ember-suave/require-access-in-comments": "off",
        "ember-suave/no-const-outside-module-scope": "off"
    },
    "globals": {
        "requireNode": false
    }
}
